.footer-icon{

    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-block: 20px;
    width: 302px;
}

.footer-icon-1{
    margin-right: 10px;

}

.footer{

    display: flex;
    padding: 60px;
    justify-content: space-between;


}

.footer-cont{

    line-height: 33px;
    font-family: Poppins;
}

.footer-cont h3{

    font-size: 22px;
}

.footer-cont p{

    font-size: 18px;
}

.hr{
    padding-inline: 60px;

}

.hr-line{
   
    height:1px;
    border-width:0;
    background-color: black;
    color: black;
}

.footer-last{

    text-align: center;
    margin-top: 25px;
    padding-bottom: 15px;
    
    
}

.footer-container{
    background-color: #D0CDE7;
}
